.footer {
    border:none;
}
div.banners {
    /*width: 100%;*/
    /*text-align: justify*/
    display: flex;
    justify-content: space-between;

}
div.banners img {
    border: 8px #eee solid;
}

div.most_popular {
    margin-top: 20px;
}

div.most_popular h2 {
    text-align: center;
}