<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Homepage>
            <version>0.0.1</version>
        </Ainstainer_Homepage>
    </modules>
    <global>
        <helpers>
            <ainstainer_homepage>
                <class>Ainstainer_Homepage_Helper</class>
            </ainstainer_homepage>
            <homepage>
                <rewrite>
                    <data>Ainstainer_Homepage_Helper_Data</data>
                </rewrite>
            </homepage>
        </helpers>
    </global>
    <frontend>
        <routers>
            <index>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Homepage</module>
                    <frontName>/</frontName>
                </args>
            </index>
        </routers>
        <!--<layout>-->
            <!--<updates>-->
                <!--<aincontact>-->
                    <!--<file>ainstainer/aincontact.xml</file>-->
                <!--</aincontact>-->
            <!--</updates>-->
        <!--</layout>-->
    </frontend>
</config>