<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Homepage>
            <version>0.1.0</version>
        </Ainstainer_Homepage>
    </modules>
    <global>
        <blocks>
            <homepage>
                <class>Ainstainer_Homepage_Block</class>
            </homepage>
        </blocks>
        <models>
            <ainstainer_homepage>
                <class>Ainstainer_Homepage_Model</class>
                <resourceModel>ainstainer_homepage_resource</resourceModel>
            </ainstainer_homepage>
            <ainstainer_homepage_resource>
                <class>Ainstainer_Homepage_Model_Resource</class>
                <entities>
                    <banner>
                        <table>ain_banner</table>
                    </banner>
                </entities>
            </ainstainer_homepage_resource>
        </models>
        <resources>
            <ainstainer_homepage_setup>
                <setup>
                    <module>Ainstainer_Homepage</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ainstainer_homepage_setup>
        </resources>
    </global>
</config>