<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Contacts>
            <version>0.0.1</version>
        </Ainstainer_Contacts>
    </modules>
    <global>
        <helpers>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Helper</class>
            </ainstainer_contacts>
            <contacts>
                <rewrite>
                    <data>Ainstainer_Contacts_Helper_Data</data>
                </rewrite>
            </contacts>
        </helpers>
    </global>
    <frontend>
        <routers>
            <aincontact>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Contacts</module>
                    <frontName>aincontact</frontName>
                </args>
            </aincontact>
        </routers>
        <layout>
            <updates>
                <aincontact>
                    <file>ainstainer/aincontact.xml</file>
                </aincontact>
            </updates>
        </layout>
    </frontend>
</config>