<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Contacts>
            <version>0.1.1</version>
        </Ainstainer_Contacts>
    </modules>
    <global>
        <models>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Model</class>
                <resourceModel>ainstainer_contacts_resource</resourceModel>
            </ainstainer_contacts>
            <ainstainer_contacts_resource>
                <class>Ainstainer_Contacts_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </ainstainer_contacts_resource>
        </models>
        <resources>
            <ainstainer_contacts_setup>
                <setup>
                    <module>Ainstainer_Contacts</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ainstainer_contacts_setup>
        </resources>
        <helpers>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Helper</class>
            </ainstainer_contacts>
            <contacts>
                <rewrite>
                    <data>Ainstainer_Contacts_Helper_Data</data>
                </rewrite>
            </contacts>
        </helpers>
        <blocks>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Block</class>
            </ainstainer_contacts>
        </blocks>
    </global>
    <frontend>
        <routers>
            <aincontact>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Contacts</module>
                    <frontName>aincontact</frontName>
                </args>
            </aincontact>
        </routers>
        <layout>
            <updates>
                <aincontact>
                    <file>ainstainer/aincontact.xml</file>
                </aincontact>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ainstainer_contacts before="Mage_Adminhtml">Ainstainer_Contacts_Adminhtml</ainstainer_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
